extends ./layout.pug
include ./mixins.pug

block head
    link(href='stylesheets/about.css', rel='stylesheet')

block content
    #wrapper
      .left
        .centered
          img.horizontalLogo(src='assets/horizontal.png', 'alt'='Logo')
          img(src= about.avatar.fields.file.url)
      .right
        .centered
          h1 About
          p.rich-text-body
            
          hr
          .lists
            .software
              h3 Software i use to produce my work:
              ul
                +list(about.software)
            .hardware
              h3 My hardware:
              ul
                +list(about.hardware)
          hr
          p
            | This website is built by 
            a(href='https://www.jeffau.dev') Jeff Au
    