extends ./layout.pug
include ./mixins.pug

block head
    link(href='stylesheets/about.css', rel='stylesheet')

block content
    #wrapper
      .left
        .centered
          img.horizontalLogo(src='assets/horizontal.png', 'alt'='Logo')
          img(src= about.avatar.fields.file.url)
      .right
        .centered
          h1 ABOUT
          div.about-paragraph !{about.paragraph}

            
          hr
          .lists
            .software
              h3 SOFTWARE
              ul
                +list(about.software)
            .rates
              h3 RATES
              ul
                +list(about.rates)
          hr
          p
            | This website is built by 
            a(href='https://www.jeffau.dev') Jeff Au
    
