extends ./layout.pug

block head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    link(href='stylesheets/contact.css', rel='stylesheet')

block content
    #wrapper
        .projectTitle
            h1.projectName Get in touch
            br
            p.projectDesc
                | Feel free to reach out to me on 
                a(href='https://twitter.com/ram3dda') twitter
                | , via 
                a#email(href='mailto:rossmorris1400@gmail.com') email
                | , or simply fill out the contact form below:
        form#contact-form(method='post', action='https://formcarry.com/s/xk6hDzVxJzS', role='form')
            .messages
            |           
            .controls
                .row
                .col-md-6
                    .form-group
                    label(for='form_name') Name
                    input#form_name.form-control(type='text', name='name', placeholder='Please enter yourname *', required='required', data-error='Firstname is required.')
                    .help-block.with-errors
                .row
                .col-md-6
                    .form-group
                    label(for='form_email') Email *
                
                    input#form_email.form-control(type='email', name='email', placeholder='Please enter your email *', required='required', data-error='Valid email is required.')

                    .help-block.with-errors

                .row
                .col-md-6
                    .form-group
                    label(for='form_type') Please specify your need *
                
                    select#form_type.form-control(name='type', required='required', data-error='Please specify your need.')
                        option(value='No Type') Please Select One:

                        option(value='Commissions/Business Inquiry') Commissions/Business Inquiry

                        option(value='Question') Question

                        option(value='Saying Hi') Just saying hi!

                        option(value='Other') Other
                    .help-block.with-errors
                .row
                .col-md-12
                    .form-group
                    label(for='form_message') Message *     
                    textarea#form_message.form-control(name='message', placeholder='Message for me *', rows='4', required='required', data-error='Please, leave us a message.')
                    .help-block.with-errors
                .col-md-12
                    input.btn.btn-muted.btn-primary(type='submit', value='Send message')
                .row
                .col-md-12
                    p.text-muted

